.mainphoto_imageblock {
  position: relative;
}

.mainphoto_imageblock > * {
  width: 450px;
  height: 532px;
}

.mainphoto_imageblock_bg {
  background: var(--bg-shadow);
  border-radius: 10px;
  content: '';
}

.mainphoto_imageblock_image {
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 40px;
}
