.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 120px;
}

.container_infoblock {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.container_cardlist {
  display: flex;
  flex-flow: row;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.container_cardlist > div {
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .container_cardlist {
    flex-flow: wrap;
  }

  .container_cardlist > div {
    flex: 1 0 calc(50% - 70px);
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .container_cardlist {
    flex-flow: wrap;
  }

  .container_cardlist > div {
    flex: 1 1 auto;
    width: 100%;
  }
}
