.navbar {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.navbar_link{
  display: flex;
  font-size: var(--font-size_m);
  text-decoration: none;
  color: var(--text-color_primary);
  font-weight: var(--font-weight_m);
}

.navbar_link__active {
  border-bottom: 1px solid var(--color-primary);
}
