.auth {
  display: flex;
  width: 100%;
}

.auth_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .auth {
    padding: 0 20px;
  }
}
