.OAButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 8px;
  width: max-content;
}

/* size */
.OAButton_size__small {
  padding: 12px 24px;
  font-size: var(--font-size_s);
}

.OAButton_size__normal {
  padding: 12px 24px;
  font-size: var(--font-size_s);
}

.OAButton_size__large {
  padding: 16px 60px;
  font-size: var(--font-size_l);
}

/* theme */
.OAButton_theme__primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.OAButton_theme__secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.OAButton_theme__warning {
  color: var(--color-warning);
  border-color: var(--color-warning);
}

.OAButton_theme__error {
  color: var(--color-error);
  border-color: var(--color-error);
}

/* variant */
.OAButton_variant__contained {
  background-color: var(--color-primary);
  color: var(--text-color_not_primary);
}

.OAButton_variant__outlined {
  background-color: var(--text-color_not_primary);
  border: 1px solid;
}

.OAButton_variant__text {
  background-color: var(--text-color_not_primary);
}
