.OAPaper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  gap: 16px;
  max-height: 129px;
  background: #ffffff;
  border: 1px solid #e4e4e7;
  border-radius: 10px;
}
