.info {
  background-color: var(--bg-shadow);
  max-width: 1048px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25%;
}

.info_photos {
  position: relative;
}

.info_photos > img {
  height: 100%;
  max-width: 70%;
}

.info_photos_dashboard {
  position: absolute;
  top: 50%;
  left: 30%;
}

.info_text {
  align-self: center;
  align-items: center;
  max-width: 496px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.info_text_title {
  font-weight: var(--font-weight_xxl);
  font-size: var(--font-size_l);
}

.info_text_description {
  font-size: var(--font-size_s);
}
