.layout {
  display: flex;
  flex-direction: column;
  color: var(--text-color_primary);
  font-weight: var(--font-weight_m);
  font-size: var(--font-size_s);
}

.layout::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100%;
  max-width: 1320px;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-self: center;
}
