html,
body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-purple_dark: #4f46e5;
  --color-purple_light: #e8e7ff;
  --color-white: #ffffff;
  --color-black: #3e3e3e;
  --color-gray_dark: #3e3e3e;
  --color-gray_light: #e4e4e7;
  --color-red: red;
  --font-size_xxxxl: 64px;
  --font-size_xxxl: 48px;
  --font-size_xxl: 28px;
  --font-size_xl: 24px;
  --font-size_l: 20px;
  --font-size_m: 18px;
  --font-size_s: 16px;
  --font-size_xs: 10px;
  --font-weight_xxl: 700;
  --font-weight_xl: 600;
  --font-weight_l: 500;
  --font-weight_m: 400;
}

[data-theme='light'] {
  --color-primary: var(--color-purple_light);
  --color-not_primary: var(--color-purple_dark);
  --text-color-primary: var(--color-black);
  --text-color-not_primary: var(--color-white);
}

[data-theme='dark'] {
  --color-primary: var(--color-purple_dark);
  --color-not_primary: var(--color-purple_light);
  --text-color-primary: var(--color-white);
  --text-color-not_primary: var(--color-black);
}

@media (min-width: 1320px) {
  .hide__L {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1319px) {
  .hide__M {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide__S {
    display: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

a {
  color: var(--color-purple_dark);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0;
}

p,
span,
div {
  font-size: 14px;
  margin: 0;
}
