.container {
  display: flex;
  flex-direction: column;
}

.cardlist {
  display: flex;
  flex-flow: row;
  gap: 30px;
  padding: 0;
}

.cardlist > div {
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .cardlist {
    flex-flow: wrap;
  }

  .cardlist > div {
    flex: 1 0 calc(50% - 70px);
    width: auto;
  }
}


@media screen and (max-width: 900px) {
  .cardlist {
    flex-flow: wrap;
  }

  .cardlist > div {
    flex: 1 1 auto;
    width: 100%;
  }
}
