.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 120px;
}

.container_infoblock {
  display: flex;
  justify-content: space-between;
  margin-top: 135px
}

.container_infoblock_order {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 60%;
}

.container_infoblock_order_assistants {
  font-size: var(--font-size_xxl);
  font-weight: var(--font-weight_xxl);
  display: flex;
  flex-direction: column;
}

.container_infoblock_order_assistants_smartdialogs {
  color: var(--color-primary);
}

.container_infoblock_order_info {
  max-width: 675px;
  font-size: var(--font-size_xl);
  color: var(--text-color_secondary);
}

.container_infoblock_imageblock {
  position: relative;
}

.container_infoblock_imageblock_bg {
  width: 450px;
  height: 532px;
  background: var(--bg-shadow);
  border-radius: 10px;
  content: '';
}

.container_infoblock_imageblock_image {
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.container_cardlist {
  display: flex;
  flex-flow: row;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.container_cardlist > div {
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .container_cardlist {
    flex-flow: wrap;
  }

  .container_cardlist > div {
    flex: 1 0 calc(50% - 70px);
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .container_cardlist {
    flex-flow: wrap;
  }

  .container_cardlist > div {
    flex: 1 1 auto;
    width: 100%;
  }
}
