.Container {
  background-color: var(--color-purple_dark);
  height: calc(100% - 160px);
  position: absolute;
  left: 0;
}

.Container_Wrapper {
  display: flex;
  flex-direction: column;
  max-width: 761px;
  align-self: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 840px) {
  .Container_Wrapper {
    width: calc(100% - 40px);
  }
}
