.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login_title {
  margin-top: 10%;
  font-size: var(--font-size_xxl);
  font-weight: var(--font-weight_l);
}

.login_remeberme {
  display: flex;
  justify-content: space-between;
  margin-top: -8px;
  margin-bottom: 8px;
}
