.mainorder_order {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 60%;
}

.mainorder_order_assistants {
  font-size: var(--font-size_xxxl);
  font-weight: var(--font-weight_xxl);
  display: flex;
  flex-direction: column;
}

.mainorder_order_assistants_smartdialogs {
  color: var(--color-primary);
}

.mainorder_order_info {
  max-width: 675px;
  font-size: var(--font-size_xl);
  color: var(--text-color_secondary);
}
