.platform {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 100%;
}

.platform_analytics {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.platform_analytics_title {
  font-size: var(--font-size_xxxl);
  font-weight: var(--font-weight_xxl);
  width: 100%;
}

.platform_analytics_description {
  font-size: var(--font-size_l);
  width: 100%;
  align-self: flex-end;
  max-width: 532px;
}

.platform_widgets {
  font-size: var(--font-size_l);
  max-width: 533px;
  margin-top: 20px;
}

.platform_charts {
  display: flex;
  gap: 30px;
}

.platform_charts > canvas {
    max-width: 50%;
    max-height: 400px;
}
