.Container {
  flex: 0 1 auto;
  color: var(--color-white);

  h1 {
    font-size: 57.695px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    color: var(--text-color-primary);
    margin: 0;
  }

  span {
    font-size: 18.211px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    color: var(--text-color-primary);
  }
}
